body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: #fff;
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
    color: #ddd;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(173, 216, 230, 0.5);
    backdrop-filter: blur(10px);
}

.login-box {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.login-box h2 {
    margin-top: 0;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.menu {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(51, 51, 51, 0.7);
    color: white;
    text-align: left;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.menu button {
    background-color: rgba(68, 68, 68, 0.7);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.menu button:hover {
    background-color: rgba(85, 85, 85, 0.7);
}

.menu nav {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.menu nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu nav ul li {
    padding: 10px;
}

.menu nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
}

.menu nav ul li a:hover {
    background-color: rgba(85, 85, 85, 0.7);
}

#main-content {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin-top: 70px;
    padding: 20px;
    backdrop-filter: blur(10px);
}